<!DOCTYPE html>
<html>
  <head>
    <title>Habit progress</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>
  <body class="bg-white text-[#344258] antialiased">
    <main class="p-4 sm:p-6">
      <%= yield %>
    </main>
  </body>
</html>
